<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<H1>Home Page</H1>
<div class="sent_style">
    <p>This is a paragraph that i am writing. it is in html and i might try styling it with css. I am using flask. I am learning python and it is hard. there is so much that you can do. It's built on other languages, abstracted into a higher level human readable. But the thing is it;s just loops variables, conditionals. but the thing is, anything that can be computed could be computed using just these fundamtental. It's all built off this.</p>
</div>